<div class="blauw">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="paars">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="rood">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="oranje">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="geel">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="groen">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="blauw2">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="paars2">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="rood2">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="oranje2">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="geel2">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
<div class="groen2">
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
    <div class="punt"></div>
</div>
